<footer id='site-footer' 
        class="row" 
        itemscope="itemscope"
        itemprop="publisher" 
        itemtype="http://schema.org/Person"
        >

    <meta itemprop="url" content="https://iurianu.rocks" />

    <nav id="footer-nav" class="row py-2 px-3">
        <p class="col-sm-6 col-md-9 col-lg-10 mb-0 pb-2 pb-sm-0">
        Copyright &copy; 2022, <span itemprop="name">Iulian Andriescu</span>
        </p>

        <ul class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-between mb-0">

            <li class="d-inline-block">
                <a  title="Follow me on GitHub!" href="https://github.com/iurianu"
                    data-bs-toggle="tooltip" data-bs-placement="top" rel="nofollow noopener noreferrer" 
                    target="_blank" itemprop="sameAs">
                    <FaIcon @icon="github" @prefix="fab" />
                </a>
            </li>
            <li class="d-inline-block">
                <a  title="Connect with me on LinkedIn!" href="https://www.linkedin.com/in/iurianu/"
                    data-bs-toggle="tooltip" data-bs-placement="top" rel="nofollow noopener noreferrer" 
                    target="_blank" itemprop="sameAs">
                    <FaIcon @icon="linkedin" @prefix="fab" />
                </a>
            </li>
            <li class="d-inline-block">
                <a  title="Join me on Discord!" href="https://discord.gg/6nvcnCNNpF"
                    data-bs-toggle="tooltip" data-bs-placement="top" rel="nofollow noopener noreferrer" 
                    target="_blank" itemprop="sameAs">
                    <FaIcon @icon="discord" @prefix="fab" />
                </a>
            </li>   
            <li class="d-inline-block">
                <a  title="Follow me on Facebook!" href="https://www.facebook.com/iurianu"
                    data-bs-toggle="tooltip" data-bs-placement="top" rel="nofollow noopener noreferrer" 
                    target="_blank" itemprop="sameAs">
                   <FaIcon @icon="facebook-f" @prefix="fab" />
                </a>
            </li>    
            <li class="d-inline-block">
                <a  title="Follow me on Twitter!" href="https://twitter.com/iurianu"
                    data-bs-toggle="tooltip" data-bs-placement="top" rel="nofollow noopener noreferrer" 
                    target="_blank" itemprop="sameAs">
                    <FaIcon @icon="twitter" @prefix="fab" />
                </a>
            </li>      

        </ul>

    </nav>
    
</footer>

<Assets::Scripts />