<aside class="sidebar d-flex flex-column p-0">

    <Sidebar::Navigation />

        <ul class="secondary book-types">
            <li>Novels</li>
            <li>Novellas</li>
            <li>Drama</li>
            <li>Poetry</li>
        </ul>

        <ul class="secondary book-genres">
            <li>Thriller</li>
            <li>Romance</li>
            <li>S.F.</li>
            <li>Horror</li>
        </ul>

        <ul class="secondary policy-links">         
            <li>Terms &amp; Conditions</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
        </ul>        

</aside>