#site-footer {
    position: fixed;
    width: 100vw;
    right: 0;
    bottom: 0;
    z-index: 1;
    * {
        font-size: .85rem;
        color: #333;
    }
    p {                
        text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
    }
}

#footer-nav {
    background-color: #000;
    ul {
        list-style: none;
    }
}