
<ul class="main-links d-block" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li itemprop="name" class="d-block position-relative p-2">
        <span class="item-number d-block position-absolute text-center pb-2">1</span>
        <LinkTo @route="about" class="button d-block w-100 mx-3" itemprop="url" rel="tag">About Us</LinkTo>
        <span class="bottom-model d-block position-absolute">&nbsp;</span>
    </li>
    <li itemprop="name" class="d-block position-relative p-2">
        <span class="item-number d-block position-absolute text-center pb-2">2</span>
        <LinkTo @route="contact" class="button d-block w-100 mx-3" itemprop="url" rel="tag">Contact Us</LinkTo>
        <span class="bottom-model d-block position-absolute">&nbsp;</span>
    </li>
</ul>