
<ul class="main-links d-block" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li itemprop="name">
        <span class="item-number">1</span>
        <LinkTo @route="about" class="button" itemprop="url" rel="tag">About Us</LinkTo>
        <span class="bottom-model">&nbsp;</span>
    </li>
    <li itemprop="name">
        <span class="item-number">2</span>
        <LinkTo @route="contact" class="button" itemprop="url" rel="tag">Contact Us</LinkTo>
        <span class="bottom-model">&nbsp;</span>
    </li>
</ul>