
$thick-border: 5px solid maroon;

%thick-border-element {
    border-image: url(../../assets/images/mahogany-background.jpg) 30 round
}

aside {
    &.sidebar {
        width: 175px;
        background-color: white;
        top: -65px;
        right: 0;
        bottom: 0;
        border-left: $thick-border;
        @extend %thick-border-element;
        @extend .set-background-styles;
        background-image: url(../../assets/images/dark-mahon-bg.webp);
        ul {
            height: 180px;
            @extend .clearbox;
            border-bottom: $thick-border;
            @extend %thick-border-element;
            li { 
                @extend .set-background-styles;
                background-image: url(../../assets/images/mahogany-background.jpg); 
                width: 160px;
                transform: rotate(75deg);
                border-radius: 3px;
                span {
                    border-bottom: 1px solid darkslategrey;
                    border-bottom-left-radius: 1px;
                    border-bottom-right-radius: 3px;                    
                    width: 37px;
                    transform: rotate(-90deg);
                    &.item-number {                        
                        font-size: 10px;
                        bottom: 10px;                         
                        height: 15px;
                        left: -10px;
                        color: darkslategrey;
                    }
                    &.bottom-model {
                        right: 5px;
                        bottom: 5px;
                    }
                }
                a {
                    &.button {
                        text-decoration: none;
                        font-size: 14px;
                        color: darkslategrey;
                    }
                }
                &:first-of-type {
                    margin-left: -42px;
                    margin-top: 75px;
                }
                &:nth-of-type(2) {
                    margin-left: -6px;
                    margin-top: -34px;
                }
            }
            &.secondary {
                @extend .clearbox;
                place-content: end;
                height: 160px;
                border-bottom: $thick-border;
                @extend %thick-border-element;
                li {
                    transform: none;
                    width: 135px;
                    margin: 0;
                    padding: 3px 8px;
                    font-size: 1rem;
                    &:nth-of-type(2n+2) {
                        margin-left: 1rem;
                    }
                }
                &.policy-links {
                    transform: rotate(90deg);
                    border-bottom: 0;
                    margin: 0;
                    border-left: $thick-border;
                    place-content: end;
                    li {
                        width: 155px;
                        margin-bottom: 0.1rem;
                        &:nth-of-type(2n+2) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}