
.books {
    .book  {
        h3 {
            font-size: 1.5rem;
        }
        picture {
            position: relative;
            width: 60px;
            height: auto;
            float: left;
            cursor: pointer;
            img {
                max-width: 100%;
            }
            &.large {
                position: fixed;
                width: 40vw;
                z-index: 3;
                top: 2vh;
                left: 30vw;
                background-color: burlywood;
                text-align: center;
                padding: 2rem;
                border: 3px inset rosybrown;
                justify-content: center;
            }
        }
    }
    h2 {
        font-size: 1.75rem;
    }
    .details {
        width: calc(100% - 65px);
        margin-left: 70px;
        margin-bottom: 0;
        display: flex;
        * {
            font-size: .85rem;
            padding-bottom: .15rem;
        }
        dt {
            width: 50px;
        }
        dd {
            width: calc(100% - 55px);
            margin: 0;
            &.read-more {
                width: 100%;
                text-align: right;
                padding-right: 1rem;
                a {
                    padding: 0;
                    text-decoration: none;
                }                
            }
        }
    }
}