.book-detailed {
    .image {
        width: 45%;
        margin-left: 5%;
        height: 560px;
        margin-top: -0.5rem;        
        img {
            height: 420px;
            opacity: 0.8;
        }
    }
    dl {
        dt {
            @extend .float-start;
            width: 100px;
        }
        dd {
            @extend .float-start;
            width: calc(100% - 100px)
        }
    }
    blockquote {
        overflow-y: clip;
        height: 140px;
    }
    .description {
        width: 40%;
        margin: 3rem 3%;
    }
    .read-more {
        &.view-modal {
            cursor: pointer;
        }
    }
}

.modal-dialog {
    @extend .set-background-styles;
    background-image: url(../../assets/images/parchment.png);
    background-color: transparent;
    .modal-content {
        width: 80%;
        padding-left: 15%;
        background-color: transparent;
        padding-top: 5rem;
        border: none;
        .modal-header {
            border: none;
            h5 {
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }
}