{{page-title "About"}}

<PageContent>
  <div class="offset-md-1 col-md-5 pt-5">
    <h1 class="pt-3 text-center">About This Library</h1>
    <p>
      The Book App is a project meant to use SPARQL for interogating an RDF book database.<br />
      Through this app, you can get all info about the books in your library, while added in this database.
    </p>
  </div>
</PageContent>

<PageSidebar />