{{page-title "Contact"}}

<PageContent>
  <div class="offset-md-1 col-md-5 pt-5">
    <h1 class="pt-3 text-center">Contact</h1>

    <address>
      <h4 class="text-uppercase">kazenokodomo</h4>
      <p>
        1212 Test Address Avenue<br>
        Testington, OR 97233
      </p>
      Phone: <a href="tel:0040729062628">+40 729 062 628</a><br>
      Email: <a href="mailto:iulianandriescu@gmail.com">iulianandriescu@gmail.com</a>
    </address>
  </div>
  <figure class="offset-md-1 col-md-5 mt-5 map">
    <figcaption class="py-3">
      <h4 class="text-uppercase">Location:</h4>
    </figcaption>
    <a href="https://goo.gl/maps/KDw6PwV6XC2Xgibh9" target="_blank" rel="nofollow noopener noreferrer">
      <Map 
        @lat="47.156116"
        @lng="27.5169305"
        @zoom="9"
        @width="225"
        @height="225"
        alt="A map of My town"      
      />
    </a>
  </figure>
</PageContent>

<PageSidebar />