
<PageContent>

  <div class="offset-md-1 col-md-5 pt-5">
    <h1 class="pt-3 text-center">The Library App!</h1>
    <p>I hope that here you will find exactly what you're looking for!</p>
  </div>

  <Books @books={{@model}} />

</PageContent>

<PageSidebar />